html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
}
a{
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}
.header{
    background: linear-gradient(180deg, #5341C5 0%, #14BBFD 100%);
    backdrop-filter: blur(20px);
    padding: 6px 0 7px;
    margin-bottom: 40px;
}
.container{
    max-width: 1718px;
    margin: 0 auto;
}
.header__top{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.menu__list{
    display: flex;
    gap: 96px;
}
.menu__link{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}
.selected__page{
    color: #FFF;
}
.cabinet__btn{
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}
.cabinet__btn-text{
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    padding: 0;
}
.cabinet__popup{
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    position: absolute;
    right: 0;
    bottom: -320px;
    padding: 55px 45px 45px 61px;
    display: none;
}
.cabinet__popup-open{
    display: block;
}
.cabinet__container{
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
.cabinet__popup-img{
    margin-right: 25px;
    width: 66px;
}
.cabinet__popup-text{
    margin-right: 76px;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}
.exit__btn{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
}
.exit__btn:hover{
    background: #000;
}
.telegram{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
}