html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
}
a{
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}
.btn{
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    padding: 5px 30px;
}
.header{
    background: linear-gradient(180deg, #5341C5 0%, #14BBFD 100%);
    backdrop-filter: blur(20px);
    padding: 6px 0 7px;
    margin-bottom: 40px;
    margin-bottom: 40px;
}
.container{
    max-width: 1718px;
    margin: 0 auto;
}
.header__top{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    position: relative;
}
.menu__list{
    display: flex;
    gap: 96px;
}
.menu__link{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}
.selected__page{
    padding: 7px 18px 20px;
    border-radius: 20px 20px 0 0;
    background: #FFF;
}
.cabinet__btn{
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}
.cabinet__btn-text{
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    padding: 0;
}
.cabinet__popup-wrapper{
    position: absolute;
}
.cabinet__popup{
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background: #FFF;
    position: absolute;
    right: 125px;
    bottom: -249px;
    padding: 55px 45px 45px 61px;
    display: none;
    z-index: 20;
}
.cabinet__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.cabinet__popup-open{
    display: block;
}
.cabinet__container{
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
.cabinet__popup-img{
    margin-right: 25px;
    width: 66px;
}
.cabinet__popup-text{
    margin-right: 76px;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}
.exit__btn{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
}
.exit__btn:hover{
    background: #000;
    color: #fff;
}
.telegram{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
}
.main__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}
.table{
    margin-bottom: 100px;
}
.table__box{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.filter{
    display: flex;
    gap: 40px;
    margin: 0 0 21px 95px;
}
.filter__btn{
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.selected__filter{
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #F0F0F0;
}
.table__content{
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    font-size: 20px;
    /* min-width: 1500px; */
    width: 100%;
}
.sorting{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 25px 0 25px;
    margin-left: 125px;
    font-weight: 500;
}
.sorting__title{
    margin-right: 135px;
}
.selected__sorting{
    background: #F0F0F0;
}
.table__head-rows{
    background: #F8F8F8;
    font-weight: 500;
    border-top: 2px solid rgba(0, 0, 0, 0.20);
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    position: relative;
}
.table__head-row{
    color: #797979;
}
.table__head-row--devider{
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    background: rgba(0, 0, 0, 0.50);
    bottom: 16px;
    opacity: 0.5;
}
.table__head-row--name{
    max-width: 352px;
}
.table__head-row--article{
   max-width: 183px;
}
.table__head-row--date{
    max-width: 290px;
}
.table__head-row--status{
    max-width: 324px;
}
.table__head-row--count{
    max-width: 223px;
}
.table__head-row--actions{
    max-width: 246px;
}
.table__content-rows{
    position: relative;
}
.table__content-row--devider{
    width: 1px;
    height: 22px;
    background: rgba(0, 0, 0, 0.50);
    opacity: 0.5;
}
.table__content-row__container{
    display: flex;
    justify-content: space-around;
    padding: 25px 0 25px 0;
}
.table__content-row--name{
    font-weight: 600;
}
.table__content-row--article,
.table__content-row--date,
.table__content-row--status,
.table__content-row--count{
    text-align: center;
}
.table__content-row--article{
    color: #797979;
}
.table__content-row--actions{
    border-right: none;
    padding-left: 50px;
}
.product__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.product__btn{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.product-add__wrapper{

}
.product-add__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}
.product-add__container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background: #FFF;
    padding: 40px;
    display: none;

}
.product-add__show{
    display: block;
}
.back-btn__container{
    text-align: left;
    margin-bottom: 43px;
}
.back-btn{
    border: none;
    background-color: transparent;
    color: #6A6A6A;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.product-add__form{
    display: flex;
    gap: 132px;
    align-items: end;
}
.product-add__content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.pruduct-add__name-container,
.pruduct-add__count-container,
.pruduct-add__size-container,
.pruduct-add__color-container{
    display: flex;
    align-items: center;
    color: #717171;
    font-weight: 700;
}
.add-inp{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    font-size: 20px;
}
.add-inp:focus-visible{
    
}
.product-add__name-input{
    margin-left: 21px;
    width: 311px;
}
.product-add__count-input{
    margin-left: 75px;
    width: 69px;
}
.product-add__size-input{
    width: 69px;
}
.product-add__size-input:first-child{
    margin-left: 121px;
}
.product-add__color-input{
    width: 311px;
    margin-left: 149px;
}
.product-add__btn{
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: #000;
    padding: 15px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
}