@media (max-width: 1583px) {
    .container{
        max-width: 561px
    }
    .booking__wrapper{
        padding: 100px 120px 110px 120px;
    }
    .back-btn{
        font-size: 18px;
    }
    .back-btn__img{
        width: 20px;
    }
    .logo__img{
        width: 200px;
    }
    .booking__input{
        width: 320px;
        height: 30px;
        font-size: 18px;
    }
    .invalid-text{
        font-size: 16px;
    }
    .signin__btn{
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 1280px) {
    .container{
        max-width: 501px
    }
    .booking__wrapper{
        padding:  100px 100px 100px;
    }
    .back-btn{
        font-size: 16px;
    }
    .back-btn__img{
        width: 18px;
    }
    .logo__img{
        width: 180px;
    }
    .booking__input{
        width: 300px;
        height: 27px;
        font-size: 16px;
    }
    .invalid-text{
        font-size: 14px;
    }
    .signin__btn{
        font-size: 18px;
        padding: 8px;
    }
}

@media (max-width: 430px) {
    body{
        background: #fff;
    }
    #booking1{
        display: none;
    }
    #booking2{
        display: block;
        padding-top: 42px;
    }
    .container{
        max-width: 390px;
        padding: 0 10px;
    }
    .login__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10vh;
    }
    .login-exit__btn{
        background-color: transparent;
        border: none;
    }
    .login__form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .login__input{
        width: 100%;
        height: 41px;
        border: 1px solid #000;
        color: #606060;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        font-family: 'Montserrat', sans-serif;
        padding-left: 10px;
    }
    .login__input + .login__input{
        margin: 20px 0 80px;
    }
    .invalid-text{
        margin-bottom: 10px;
    }
    .signin__btn{
        font-size: 32px;
        font-weight: 500;
        line-height: normal;
        color: #fff;
        padding: 15px;
        background: linear-gradient(270deg, #5341C5 0%, #14BBFD 87.83%);
        margin-bottom: 29px;
    }
}