<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
</head>
<body>
    <div class="login">
        <div class="container">
            <div class="login__content">
                <h1 class="login__title">Вход</h1>
                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  {{ form.username.label_tag }} {{ form.username }}
                  <br>
                  {{ form.password.label_tag }} {{ form.password }}
                  <br>
                  <button type="submit">Login</button>
              </form>
            </div>
        </div>
    </div>
</body>
</html>