<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/mediaquery.css' %}">
</head>
<body>
    <main class="main">
        <script>
            grecaptcha.ready(function() {
              grecaptcha.execute('{{site_key}}', {action: "/contact/"}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
              });
            });
         </script>
        <section class="booking" id="booking1">
            <div class="container">
                <div class="booking__wrapper">
                    <div class="back-btn__container">
                        <a href="{% url 'home' %}" class="back-btn">
                            <img src="{% static 'img/login/back-btn__img.svg' %}" alt="back" class="back-btn__img">
                            назад
                        </a>
                    </div>
                    <a class="logo">
                        <img src="{% static 'img/login/logo.png' %}" alt="logo" class="logo__img">
                    </a>
                    <form class="booking__form" method="POST">
                        {% csrf_token %}
                        <input type="text" class="booking__input" placeholder="логин" name="username">
                        <input type="password" class="booking__input" placeholder="пароль" name="password">
                        {% if error %}
                        <p class="invalid-text">Неверный логин или пароль</p>
                        {% endif %}
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <button type="submit" class="signin__btn">войти</button>
                    </form>
                </div>    
            </div>
        </section>
        <!-- <section class="login" id="booking2">
            <div class="container">
                <div class="login__header">
                    <div class="price-login__header-item">
                        <img src="{% static 'img/index/header logo 430.png' %}" alt="login logo" class="login-logo">
                    </div>   
                    <div class="login-__header-item">
                        <button class="login-exit__btn">
                            <img src="{% static 'img/index/exit img.svg' %}" alt="login exit" class="login-exit__btn-img">
                        </button>
                    </div>
                </div>
                <form class="login__form" method="POST">
                    {% csrf_token %}
                    <input type="text" class="login__input" placeholder="логин" name="username">
                    <input type="password" class="login__input" placeholder="пароль" name="password">
                    {% if error %}
                    <p class="invalid-text">Неверный логин или пароль</p>
                    {% endif %}
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <button type="submit" class="signin__btn">войти</button>
                </form>
            </div>
        </section> -->
    </main>
</body>
</html>