<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main/bills/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/bills/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index/mediaquery.css' %}"> -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a class="logo">
                    <img src="{% static 'img/main/products/logo.png' %}" alt="logo" class="logo__img">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'main-products' %}" class="menu__link
                            {% if selected_page == 'товары' %}
                            selected__page
                            {% endif %}">товары</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-bills'%}" class="menu__link
                            {% if selected_page == 'счета' %}input
                            selected__page
                            {% endif %}">счета</a>
                        <li class="menu__item">
                            <a href="{% url 'main-requests'%}" class="menu__link
                            {% if selected_page == 'запросы на отгрузку' %}
                            selected__page
                            {% endif %}">запросы на отгрузку</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    
    </header>
    <main class="main">
        <section class="bills">
            <div class="container">
                <div class="btn__container">
                    <a href="#" class="topay__btn btn selected__btn">к оплате</a>
                    <a href="#" class="history__btn btn">история</a>
                </div>
                <div class="bills__items">
                    <div class="bill__item">
                        <p class="bill__item-title">Поставка 1</p>
                        <a href="#" class="bill__ticket">просмотреть квитанцию</a>
                        <p class="bill__data">24.11.23</p>
                        <p class="bill__price">30 000 ₽</p>
                    </div>
                    <div class="bill__item">
                        <p class="bill__item-title">Перевозка</p>
                        <a href="#" class="bill__ticket">просмотреть квитанцию</a>
                        <p class="bill__data">24.11.23</p>
                        <p class="bill__price">20 000 ₽</p>
                    </div>
                </div>
            </div>
        </section>

    </main>