<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main/products/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/products/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index/mediaquery.css' %}"> -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a class="logo">
                    <img src="{% static 'img/main/products/logo.png' %}" alt="logo" class="logo__img">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'main-products' %}" class="menu__link
                            {% if selected_page == 'товары' %}
                            selected__page
                            {% endif %}">товары</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-bills'%}" class="menu__link
                            {% if selected_page == 'счета' %}
                            selected__page
                            {% endif %}">счета</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-requests'%}" class="menu__link
                            {% if selected_page == 'запросы на отгрузку' %}
                            selected__page
                            {% endif %}">запросы на отгрузку</a>
                        </li>
                    </ul>
                </nav>
                <button class="cabinet__btn">
                    <span class="cabinet__btn-text">{{ user.name }} {{ user.last_name.0 }}.</span>
                    <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__btn-img">
                </button> 
                <div class="cabinet__popup-wrapper">
                    <div class="cabinet__popup">
                        <div class="cabinet__container">
                            <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__popup-img">
                            <span class="cabinet__popup-text">{{ user.name }} {{ user.last_name }}</span>
                            <a href="{% url 'logout' %}" class="exit__btn">выйти</a>
                        </div>
                        <div class="telegram">
                            <a href="" class="telegram__link"><img src="{% static 'img/main/products/telegram.png' %}" alt="telegram" class="telegram__img"></a>
                            <p class="telegram__text">телеграм бот для уведомлений</p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>    
    </header>
    <main class="main">
        <div class="table">
            <div class="container">
                <div class="filter">
                    <a href="{% url 'main-products-clear-data' filter='все' sorting=sorting %}" class="all__btn btn filter__btn selected__filter">все</a>
                    <a href="{% url 'main-products-clear-data' filter='в пути' sorting=sorting %}" class="way__btn btn filter__btn">в пути</a>
                    <a href="{% url 'main-products-clear-data' filter='ожидает заявку на отгрузку' sorting=sorting %}" class="wait-application__btn btn filter__btn">ожидает заявку на отгрузку</a>
                    <a href="{% url 'main-products-clear-data' filter='ожидает штрихкод' sorting=sorting %}" class="wait-barcode__btn btn filter__btn">ожидает штрихкод</a>
                    <a href="{% url 'main-products-clear-data' filter='ожидает оплаты' sorting=sorting %}" class="wait-pay__btn btn filter__btn">ожидает оплаты</a>
                </div>
                <div class="table__content">
                    <div class="sorting">
                        <p class="sorting__title">сортировка:</p>
                        <a href="название" class="name__btn btn selected__sorting">название</a>
                        <a href="артикул" class="article__btn btn">артикул</a>
                        <a href="дата создания" class="date__btn btn">дата создания</a>
                        <a href="статус" class="status__btn btn">статус</a>
                        <a href="количество" class="count__btn btn">количество</a>
                    </div>
                    <table class="table__container">
                        <thead>
                            <tr class="table__head-rows">
                                <th class="table__head-row table__head-row--name">название</th>
                                <th class="table__head-row table__head-row--article">артикул</th>
                                <th class="table__head-row table__head-row--date">дата создания</th>
                                <th class="table__head-row table__head-row--status">статус товара</th>
                                <th class="table__head-row table__head-row--count">количество</th>
                                <th class="table__head-row table__head-row--actions">действия</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- {% for product in products %} -->
                            <tr class="table__content-rows">
                                <td class="table__content-row__container">
                                    <table class="table__content-row table__content-row--img" >1</table>
                                    <table class="table__content-row table__content-row--name">2</table>
                                </td>
                                <td class="table__content-row table__content-row--article">3</td>
                                <td class="table__content-row table__content-row--date">4</td>
                                <td class="table__content-row table__content-row--status">5</td>
                                <td class="table__content-row table__content-row--count">6</td>
                                <td class="table__content-row table__content-row--actions">7</td>
                            </tr>
                        <!-- {% endfor %} -->
                        </tbody>
                    </table>
                </div>  
            </div>      
        </div>
    </main>
    <script src="{% static 'js/main/products/main.js' %}"></script>
</body>
</html>