<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main/products/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/products/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index/mediaquery.css' %}"> -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a class="logo">
                    <img src="{% static 'img/main/products/logo.png' %}" alt="logo" class="logo__img">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'main-products' %}" class="menu__link
                            {% if selected_page == 'товары' %}
                            selected__page
                            {% endif %}">товары</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-bills'%}" class="menu__link
                            {% if selected_page == 'счета' %}
                            selected__page
                            {% endif %}">счета</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-requests'%}" class="menu__link
                            {% if selected_page == 'запросы на отгрузку' %}
                            selected__page
                            {% endif %}">запросы на отгрузку</a>
                        </li>
                    </ul>
                </nav>
                <button class="cabinet__btn">
                    <span class="cabinet__btn-text">{{ user.name }} {{ user.last_name.0 }}.</span>
                    <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__btn-img">
                </button>
                <div class="cabinet__popup">
                    <div class="cabinet__container">
                        <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__popup-img">
                        <span class="cabinet__popup-text">{{ user.name }} {{ user.last_name }}</span>
                        <a href="{% url 'logout' %}" class="exit__btn">выйти</a>
                    </div>
                    <div class="telegram">
                        <img src="{% static 'img/main/products/telegram.png' %}" alt="telegram" class="telegram__img">
                        <p class="telegram__text">телеграм бот для уведомлений</p>
                    </div>
                </div>
            </div>
        </div>    
    </header>
    <main class="main">
        <div class="table">
            <div class="container">
                <div class="filter">
                    <a href="все" class="all__btn btn selected__filter">все</a>
                    <a href="в пути" class="way__btn btn">в пути</a>
                    <a href="ожидает заявку на отгрузку" class="wait-application__btn btn">ожидает заявку на отгрузку</a>
                    <a href="ожидает штрихкод" class="wait-barcode__btn btn">ожидает штрихкод</a>
                    <a href="ожидают оплаты" class="wait-pay__btn btn">ожидают оплаты</a>
                </div>
                <div class="table__content">
                    <div class="sorting">
                        <p class="sorting__title">сортировка</p>
                        <a href="название" class="name__btn btn selected__sorting">название</a>
                        <a href="артикул" class="article__btn btn">артикул</a>
                        <a href="дата создания" class="date__btn btn">дата создания</a>
                        <a href="статус" class="status__btn btn">статус</a>
                        <a href="количество" class="count__btn btn">количество</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Артикул</th>
                                <th>Дата создания</th>
                                <th>Статус</th>
                                <th>количество</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.numbers }}</td>
                                <td>{{ product.color }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>      
        </div>
    </main>
    <script src="{% static 'js/main/products/main.js' %}"></script>
</body>
</html>