<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main/products/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/products/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index/mediaquery.css' %}"> -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a class="logo">
                    <img src="{% static 'img/main/products/logo.png' %}" alt="logo" class="logo__img">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'main-products' %}" class="menu__link
                            {% if selected_page == 'товары' %}
                            selected__page
                            {% endif %}">товары</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-bills'%}" class="menu__link
                            {% if selected_page == 'счета' %}
                            selected__page
                            {% endif %}">счета</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'main-requests'%}" class="menu__link
                            {% if selected_page == 'запросы на отгрузку' %}
                            selected__page
                            {% endif %}">запросы на отгрузку</a>
                        </li>
                    </ul>
                </nav>
                <button class="cabinet__btn">
                    <span class="cabinet__btn-text">{{ user.name }} {{ user.last_name.0 }}.</span>
                    <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__btn-img">
                </button>
                <div class="cabinet__popup">
                    <div class="cabinet__container">
                        <img src="{% static 'img/main/products/cabinet.png' %}" alt="cabinet" class="cabinet__popup-img">
                        <span class="cabinet__popup-text">{{ user.name }} {{ user.last_name }}</span>
                        <a href="{% url 'logout' %}" class="exit__btn">выйти</a>
                    </div>
                    <div class="telegram">
                        <a href="https://t.me/FastWayNotification_bot" class="telegram__link"><img src="{% static 'img/main/products/telegram.png' %}" alt="telegram" class="telegram__img"></a>
                        <p class="telegram__text">телеграм бот для уведомлений</p>
                    </div>
                </div>
            </div>
        </div>    
    </header>

    <h1>requests</h1>
    <!-- <div>
        <div>
            <a>Добро пожаловать <b>{{ user.get_username }}!</b></a>
        </div>
        <div>
            <a href="{% url 'logout' %}" style="color: #2F5CE8"> Выйти из аккаунта</a>
        </div>
    </div>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="text"  placeholder="название" name="name">
            <input type="text"  placeholder="количество" name="numbers">
            <input type="text"  placeholder="цвет" name="color">
            <input type="text"  placeholder="размер" name="size">
            <button type="submit" class="signin__btn">Добавить товар</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Цвет</th>
                    <th>Размер</th>
                    <th>Статус</th>
                    <th>Кнопка</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.numbers }}</td>
                    <td>{{ product.color }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.status }}</td>
                    <td><a href="{{ product.get_absolute_url }}" style="color: #2F5CE8">Подробнее</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> -->

<script src="{% static 'js/main/products/main.js' %}"></script>
<script src="{% static 'js/main/products/main.js' %}"></script>
</body>
</html>